<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <%- include('../header'); -%> <% if (entries.length) { %> <%
    entries.forEach(entry => { %>

    <div class="card">
      <div class="card-header"><%= entry.createdAt %></div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= entry.comment %></p>
          <footer class="blockquote-footer">
            <cite title="Source Title"><%= entry.name %></cite>
          </footer>
        </blockquote>
      </div>
    </div>
    <br />

    <% }) %> <% } else { %> No entries! <a href="/entries/new">Add one!</a>
    <% } %> <%- include('../footer'); -%>
  </body>
</html>
